@import "normalize.scss";

//Fonts

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-SemiBold.woff") format('woff'), url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Regular.woff") format('woff'), url("../fonts/Montserrat-Regular.woff2") format('woff2');
	font-weight: 400;
}

//Body

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.875rem; //14px
	background-color: #000430;
	color: #FFFFFF;
}

.container {
	max-width: 31.25rem;
	width: 31.25rem;
	height: 25rem;
	padding: 1.875rem;
	background: transparent;
	border: 2px solid #828dff;
	border-radius: 1.25rem;
	backdrop-filter: blur(1.25rem);
}

.title {
	margin-bottom: 1.875rem;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
}

.input__container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5625rem;
	gap: .625rem;
}

.todo__input {
	flex: 1;
	outline: none;
	padding: .625rem .625rem .625rem 1.25rem;
	background: #171c48;
	border: 1px solid #828dff;
	border-radius: .625rem;
	color: #FFFFFF;
}

.add__button {
	width: 3.125rem;
	height: 3.125rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.875rem;
	background-color: #828dff;
	color: #FFFFFF;
	cursor: pointer;
}

.text {
	margin-top: 20%;
	font-size: 2rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.179);
}