@import "normalize.scss";

//Fonts

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-SemiBold.woff") format('woff'), url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Regular.woff") format('woff'), url("../fonts/Montserrat-Regular.woff2") format('woff2');
	font-weight: 400;
}

//Body

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.875rem; //14px
	background-color: #000430;
	color: #FFFFFF;
}

.container {
	width: 31.25rem;
	height: auto;
	min-height: 18.75rem;
	padding: 1.875rem;
	background: transparent;
	border: 2px solid #828dff;
	border-radius: 1.25rem;
	backdrop-filter: blur(1.25rem);
}

.title {
	margin-bottom: 1.875rem;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
}

.input__container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5625rem;
	gap: .625rem;
}

.todo__input {
	flex: 1;
	outline: none;
	padding: .625rem .625rem .625rem 1.25rem;
	background: #171c48;
	border: 1px solid #828dff;
	border-radius: .625rem;
	color: #FFFFFF;
}

.focus {
	border: 2px solid #828dff;
}

.add__button {
	width: 3.125rem;
	height: 3.125rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.875rem;
	background-color: #828dff;
	color: #FFFFFF;
	cursor: pointer;
}

.text {
	margin-top: 20%;
	font-size: 2rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.179);
}

.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .625rem;
	margin: .625rem 0.5rem .625rem 0;
	background-color: #171c48;
	border: 1px solid #828cff74;
	border-radius: .625rem;
	transition: all 0.2s ease;
}

.todo:first-child {
	margin-top: 0;
}

.todo:last-child {
	margin-bottom: 0;
}

.todo:hover {
	background-color: #828cff74;
}

.todo label {
	width: fit-content;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.todo span {
	padding-left: 1.25rem;
	position: relative;
}

span::before {
	content: "";
	height: 1.25rem;
	width: 1.25rem;
	position: absolute;
	margin-left: -1.875rem;
	margin-top: -0.0625rem;
	border-radius: 6.25rem;
	border: 2px solid #828cff74;
}

input[type='checkbox'] {
	visibility: hidden;
}

input:checked+span {
	text-decoration: line-through;
	color: #24feee;
}

.todo:hover input:checked+span::before,
input:checked+span::before {
	background: #24feee;
	border-color: #24feee;
}

.todo:hover span:before {
	border-color: #24feee;
}

.todo .delete-btn {
	font-size: 1.5rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #24feee;
}

.todos__container {
	height: 18.75rem;
	overflow: overlay;
}

//W3C standard for Firefox (scrollbar styles)
.todos__container {
	scrollbar-color: #ffffffbd #828cff74;
	scrollbar-width: thin;
}

.todos__container:hover::-webkit-scrollbar {
	width: .4375rem;
}

.filters {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5625rem;
}

.filter {
	color: #FFFFFF;
	padding: .3125rem .9375rem;
	border-radius: .625rem;
	border: 1px solid #828cff74;
	transition: all 0.2s ease;
	cursor: pointer;
}

.filter.active,
.filter:hover {
	background-color: #828dff;
}

.delete-all {
	display: flex;
	color: #ffffff55;
	padding: .4375rem .9375rem;
	border-radius: .625rem;
	cursor: pointer;
	transition: all 0.2s ease;
}

.bx-trash {
	margin-top: 0.1rem;
}

.bx-trash::before {
	width: 1.5rem;
	height: 1.5rem;
	background-color: transparent;
	color: #b3283c;
}